<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand header-text" href="/">
    School CRUD con AngulaJS
  </a>
</nav>
<div class="container">
  <div class="row">
    <!-- FORMULARIO DE ESTUDIANTE -->
    <div class="col-md-4 mt-4 card pb-4">
      <h1 class="display-6 text-center">Registrar alumno</h1>
      <ul class="list-group">
        <li 
        *ngFor="let student of studentArray"
        class="list-group-item list-group-item-action list-group-item list-group-item-dark"
        (click)="openForEditStudent(student)"
        [class.active]="student == selectedStudent"
        >
        <span class="badge bg-primary">{{student.nocontrol}}</span>  {{student.name}} <br> Calificaciones: {{student.materias}}
        </li>
      </ul>
      <div class="card mt-5">
        <div class="card-body">
          Crear nuevo estudiante
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="selectedStudent.nocontrol" name="" placeholder="Numero de control" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="selectedStudent.name" name="" placeholder="Nombre" class="form-control">
        </div>
        <button (click)="addOrEditStudent()" class="btn btn-primary">
            Enviar
        </button>
      </div>
    </div>
    <!-- FORMULARIO DE MATERIAS -->
    <div class="col-md-4 mt-4 card pb-4">
      <h1 class="display-6 text-center">Registrar materia</h1>
      <ul class="list-group">
        <li
        *ngFor="let subject of subjectArray"
        class="list-group-item list-group-item-action list-group-item list-group-item-dark "
        (click)="openForEditSubject(subject)"
        [class.active]="subject == selectedSubject"
        >
        <h6><span class="badge bg-primary">{{subject.id}}</span>&emsp;{{subject.materia}}</h6> <br><div class="mat">Numero de estudiantes: {{subject.inscritos}}</div>
        </li>
      </ul>
      <div class="card mt-5">
        <div class="card-body">
          Crear nuevo estudiante
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="selectedSubject.id" name="" placeholder="ID de la materia" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="selectedSubject.materia" name="" placeholder="Materia" class="form-control">
        </div>
        <button (click)="addOrEditSubject()" class="btn btn-primary">
            Enviar
        </button>

      </div>
    </div>
      <!--FORMULARIO PARA DAR DE ALTA ALUMNOS EN MATERIAS-->
    <div class="col-md-4 mt-4 justify-content-center">
      <h1 class="display-5 text-center text-white">Registrar alumno en una materia</h1>
      <h4 class="display-6 text-center">Historial de carga de Calificaciones</h4>
      <ul class="list-group">
        <li
        *ngFor="let sxs of sXsArray; index as i"
        class="list-group-item list-group-item-action"
        [class.active]="sxs == selectedSxS"
        >
        Materia: {{sxs.idMateria}} <br> Alumno: {{sxs.nocontrol}}  <br> Calificación: {{sxs.calificacion}} 
        </li>
      </ul>
      <div class="card mt-5">
        <div class="card-body">
          Añadir Calificación
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="selectedSxS.idMateria" name="" placeholder="ID de la materia" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="selectedSxS.nocontrol" name="" placeholder="Numero de control del estudiante" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="selectedSxS.calificacion" name="" placeholder="Calificación" class="form-control">
        </div>
        <button (click)="addOrEditSxS()" class="btn btn-primary">
            Enviar
        </button>

      </div>
    </div>
  </div>
</div>
